{% extends 'base.html' %}

{% block content %}






        <h1> My orders: </h1>
                    {% for order in orders %}
                        <table class="table">
                        <thead>
                    <tr>
                        <td>Order №{{ order.pk }}</td>
                        <br>
                        <thead>
                        <tr>
                          <th scope="col">name</th>
                          <th scope="col">price</th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for prod in order.order_product.all %}
                                <tr>
                                <td>{{ prod.product.name }}</td>
                                <td>{{ prod.product.price }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                        </table>
                        <br>
                        <h5>Total: {{ order.sum_products }}</h5>
                    {% endfor %}

{% endblock content %}