{% extends 'base.html' %}
{% block page_header %}List products{% endblock page_header %}
{% block content %}
    <br/>
    {% if not basket %}
        <h2> No product</h2>
        {% else %}
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
            <th scope="col">Price </th>
        </tr>
      </thead>
      <tbody>
            {% for total_product in total_products %}
            <tr>
                <td>{{ total_product.basket.product.name }}</td>
                <td>{{ total_product.basket.quantity }}</td>
                <td>{{ total_product.basket.product.price }}</td>
                <th> {{ total_product.total }}</th>
                <td>
                    <form action="{% url 'product:delete_cart' total_product.basket.pk %}" method="POST">
                        {% csrf_token %}
                        <p><input type="submit" value="удалить"></p>
                    </form>

            </tr>
        {% endfor %}
      </tbody>
    </table>
    Total : {{ total }}
    </tr>
    <h3>Оформить заказ</h3>
    <form action="{% url 'product:order_cart' %}" method="POST">
        {% include 'partial/form.html' with button_text='оформить' %}
    </form>
{% endblock content %}